server {                                                  
        listen 80;                                        
        listen [::]:80;                                   
                                                          
        server_name pool.daedalus.com.tw;                 
        #server_name localhost;                           
                                                          
        root /media/data/open-ethereum-pool/www/dist;     
        index index.html;                                 
                                                          
        location / {                                      
                try_files $uri $uri/ =404;                
        }                                                 
                                                          
        location /api {                                   
                proxy_pass http://api;                    
        }                                                 
}                                                         
                                                          
                                                          
upstream api {                                            
        server 127.0.0.1:8080;                            
}                                                         